{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<h2>Информация о посте № {{ post.pk }}</h2>
<b>{{ post.author }}</b>
<hr>
<h3>{{ post.title }}</h3>

{% if post.image %}
    <p><img src ="{{ post.image.url }}" width="200px" height="auto"></p>
{% else %}
    <p><img src ="{% static 'img/untitled.jpeg' %}" width="200px" height="auto"></p>
{% endif %}

{{ post.text }}
<p><i>{{ post.created_at }}</i></p>

{% if user == post.author %}
<div class="btn-actions">
    <div class="btn-edit-post">
        <a href="{% url 'blog:update_post' pk=post.id %}">
            <button type="button">Редактировать</button>
        </a>
    </div>
    <div class="btn-del-post">
        <a href="{% url 'blog:delete_post' pk=post.id %}">
            <button type="button">Удалить</button>
        </a>
    </div>
{% endif %}
{% if user.is_superuser %}
       <div class="btn-actions">
           <div class="btn-del-post">
               <a href="{% url 'blog:delete_post' pk=post.id %}">
            <button type="button">Удалить</button>
              </a>
           </div>
       </div>
{% endif %}

{% endblock content %}